dist: xenial
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
branches:
  except:
    - gh-pages
matrix:
  fast_finish: true
env:
  - TOX_ENV=py36
before_install:
  - sudo apt-get -qq update
install:
  - python -m pip install -U pip
  - pip install -U setuptools
  - pip install tox
  - pip install tox-travis
  - pip install codecov
script:
  - tox
after_success:
  - codecov
