[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "peeringdb"
version = "1.5.0"
description = "PeeringDB Django models"
readme = "README.md"
repository = "https://github.com/peeringdb/peeringdb-py"
authors = [ "PeeringDB <support@peeringdb.com>",]
license = "Apache-2.0"
classifiers = [ "Development Status :: 5 - Production/Stable", "Framework :: Django :: 2.2", "Framework :: Django :: 3.0", "Framework :: Django :: 3.1", "Framework :: Django :: 3.2", "Intended Audience :: Developers", "Intended Audience :: System Administrators", "Intended Audience :: Telecommunications Industry", "License :: OSI Approved :: Apache Software License", "Programming Language :: Python :: 3.6", "Programming Language :: Python :: 3.7", "Programming Language :: Python :: 3.8", "Programming Language :: Python :: 3.9", "Topic :: Software Development :: Libraries :: Python Modules", "Topic :: Internet",]
[[tool.poetry.packages]]
include = "peeringdb"
from = "src"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.poetry.scripts]
peeringdb = "peeringdb.cli:main"

[tool.poetry.dependencies]
python = "^3.7"
confu = "^1"
munge = { extras = ["tomlkit", "yaml"], version = "^1.2.0" }
"twentyc.rpc" = "^1"

[tool.poetry.dev-dependencies]

# testing
django = "~3.2"
django_peeringdb = "^2.16"

codecov = "*"
pytest = "^6.0.1"
pytest-cov = "*"
tox = ">=3.24"

# linting
black = ">=20"
isort = "^5.7.0"
flake8 = "^3.8.4"
mypy = "^0.950"
pre-commit = "^2.13"
pyupgrade = "^2.19.4"

# docs
markdown = "*"
markdown-include = ">=0.5,<1"
mkdocs = "^1.2.3"

# ctl
ctl = "^1"
jinja2 = "^3"
tmpl = "^1"
twine = "^3.3.0"

[tool.poetry.plugins."markdown.extensions"]
pymdgen = "pymdgen.md:Extension"
